extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner SMAB
    div.Message
      div.Title
        h3 Lets drink some classroom beers
      span.Details SMABulators unite!
    div.NavButtons
      a(href="/user")
          div.NavButton Smabulate